/*  
    PALETA DE COLORES:
    color VERDE #85B172 
    color clarito #FFF5EE
    color oscuro #736E6B


/* 
probar en los formularios

input:focus {} --> para que marque el recuadro, por default azul, cuando el usuario clickea
     o
input:focus { ----> para que marque con una linea de un color y grosor determinado
    outline: 4px solid #85B172;
}

*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: inter, sans-serif;
}


body{
    background-color: #736E6B;
}

/*    ------ESTILOS DEL SCROLLBAR-----           */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #85B172;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #736E6B;
}

/*           ------ ESTILOS DEL NAV -------         */
header {
    display: block;
    background-color: #736E6B;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;
}

#nav_araf{
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: #FFF5EE;
}

#nav_araf:hover{
    background: none;
    color:#85B172;
}

nav a {
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    color: #FFF5EE;
    text-decoration: none;
}

nav a:hover{
    background: #FFF5EE;
    color:#85B172;
    font-weight: bold;
}

/*        ----- ESTILOS DE LAS SECTIONS -----           */

section{
    display: block;
    padding-top: 220px;
    padding-bottom: 216px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1);
}

#principal {
    display: block;
    background-color: #FFF5EE;
    padding-top: 220px;
    padding-bottom: 216px;
    text-align: center;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1);
}

#acerca, #proyectos {
    display: block;
    background-color: #85B172 ;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

#tecnologias, #contacto {
    display: block;
    background-color: #FFF5EE ;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

/*         --------- ESTILOS DEL FORMULARIO -------          */
input:focus {
    border-color: 5px solid green;
}

#grupo__nombre__error input {
    border: 4px solid crimson;
}




/*              ------ ESTILOS DE TEXTOS --------          */

span {
    float: left;
}


h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    text-shadow: 5px 5px #85B172 ;
}

h2, h3, h4 {
    font-family: 'Kurale', serif;
}


