/*  
    PALETA DE COLORES:
    color VERDE #85B172 
    color clarito #FFF5EE
    color oscuro #736E6B


/* 
probar en los formularios

input:focus {} --> para que marque el recuadro, por default azul, cuando el usuario clickea
     o
input:focus { ----> para que marque con una linea de un color y grosor determinado
    outline: 4px solid #85B172;
}

*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: inter, sans-serif;
}


body{
    background-color: #736E6B;
}

/*    ------ESTILOS DEL SCROLLBAR-----           */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #85B172;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #736E6B;
}

/*           ------ ESTILOS DEL NAV -------         */
header {
    display: block;
    background-color: rgba(115, 110, 107, 0.7);
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;
}

#nav_araf{
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: #FFF5EE;
}

#nav_araf:hover{
    background: none;
    color:#85B172;
}

nav a {
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    color: #FFF5EE;
    text-decoration: none;
}

nav a:hover{
    background: #FFF5EE;
    color:#85B172;
    font-weight: bold;
}

/*        ----- ESTILOS DE LAS SECTIONS -----           */

#principal {
    display: flex;
    background-color: #FFF5EE;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1);
}

#acerca, #proyectos {
    display: flex;
    background-color: #85B172 ;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1);
}


#tecnologias, #contacto {
    display: flex;
    background-color: #FFF5EE ;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1);
}

/*         --------- ESTILOS DEL FORMULARIO -------          */
form {
    background: #85B172;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h2 {
    color: #FFF5EE;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background: #FFF5EE;
    font-size: 16px;
    border-radius: 10px;
}

form button{
    padding: 15px;
    background: #736E6B;
    color: #FFF5EE;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;

}

/*
input:focus {
    border: 4px solid #736E6B;
}


.formulario__grupo-correcto .formulario__validacion-estado{
    color: #85B172;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

*/


/*              ------ ESTILOS DE TEXTOS --------          */

span {
    float: left;
}


h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200px;
    text-shadow: 5px 5px #85B172 ;
}

h2, h3, h4 {
    font-family: 'Kurale', serif;
}


