/*  PALETA DE COLORES:
    color VERDE #85B172 
    color clarito #FFF5EE
    color oscuro #736E6B
*/ 
/* Pantallas grandes */

@media (max-width: 1400px) {
  html {
    font-size: 18px;
  }
  h1{
    font-size: 60px;
  }
}

/* Tabletas */

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
  h1{
    font-size: 40px;
  }
}

/* Celulares */

@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
  h1{
    font-size: 30px;
  }
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: inter, sans-serif;
}

body{
    background-color: #736E6B;
    overflow-x: hidden;
    text-align: center;
}

h2, h3, h4 {
    font-family: 'Kurale', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*    ------ESTILOS DEL SCROLLBAR-----           */
::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg,  #c5bcb7, #FFF5EE, #d6cdc7);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #736E6B;
}

/*           ------ ESTILOS DEL NAV -------         */
header {
    background-color: rgba(115, 110, 107, 0.7);
    box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.3);
    width: 100vw;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
    
}

.nav_logo {
    display: flex;
    float: left;
    height: 2.5rem; 
    padding: 0 3px;
}

 .nav_logo:hover{
    background: #FFF5EE;
    border-radius: 50px;
}

.nav_menu {
    display: flex;
    list-style: none;
}

nav ul li a {
    display: flex;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 10px;
    color: #FFF5EE;
    text-decoration: none;
}

nav ul li a:hover{
    background: #FFF5EE;
    color:#85B172;
    font-weight: bold;
    padding: 9px;
    border-bottom: 3px solid #85B172;
}

/*        ----- ESTILOS DE LAS SECTIONS -----           */
main {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#principal, #acerca, #proyectos, #tecnologias, #contacto {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1);
    overflow: hidden;
}

/*         -------- ESTILOS DE PRINCIPAL ---------       */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#principal {
    background-color: #FFF5EE; 
}

.titulo_principal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.principal-nombre{
    padding-top: 25px;
}

.developer{
    padding-top: 25px;
}

.foto img{
    display: flex;
    height: 20vw;
    border-radius: 50%;
    min-height: 200px;
}

/*      -----------  ESTILOS DE ACERCA DE -----------       */

#acerca {
    flex-direction: column;
    justify-content: space-around;
    background-color: #85B172 ;
}


#acerca a {
    display: flex;
    padding: 15px;
    background-color: #736E6B;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFF5EE;
    text-decoration: none;
}

.links-box {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 0.75rem #736E6B) opacity(0.7);
}

.links:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem #FFF5EE);
}


/*      -----------  ESTILOS DE TECNOLOGIAS -----------       */
#tecnologias {
    position: relative;
    background-color: #FFF5EE;
    justify-content: center;
    
}

.subtitulo {
    color: #85B172;
    display: block;
    font-size: 50px;
}

.tecnologias_logos {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 50vh;
    margin-top: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

@media (max-width: 450px) {
    .tecnologias_logos {
        flex-direction: column;

    }
    .logos {
        position: relative;
        display: flex;
        margin: auto;
    }
}


.logos {
    position: relative;
    display: flex;
    margin: 8px;
    filter: drop-shadow(0 0 20px #736E6B);
}

.logos .img {
    position: absolute;
    height: 100%;
}


/*      -----------  ESTILOS DE PROYECTOS -----------       */
#proyectos{
    display: grid;
    grid-template-rows: 20vh 60vh;
    background-color: #85B172 ;
    align-items: center;
}

@media ( max-width: 768px ){
    #proyectos{
        grid-template-rows: 10vh 80vh;
    }
}

h2{
    color: #FFF5EE;
    font-size: 50px;
    text-align: center;
    margin-top: 4vh;
}

.proyectos-container{
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-rows: 80vh;
    grid-template-columns: 20vw 20vw 20vw;
    justify-content: space-evenly;
    align-content: space-evenly;
}

/* Tabletas */
@media (max-width: 768px) {
    .proyectos-container{
        height: 90vh;
        display: grid;
        margin: auto 0;
        grid-template-rows: 30% 30% 30%;
        grid-template-columns: 80%;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

}

.box{
    position: relative;
    height: 50%;
    width: 100%;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(23, 4%, 44%, 0.6);
    padding: 0.5em;
    padding-bottom: 3.4em;
    margin: auto;
    border-radius: 0 15px;
    filter: grayscale(60%) sepia(30%);
    overflow: hidden;

}

/* Tabletas */
@media (max-width: 768px) {
    .box{
        height: 100%;
        width: 100%;
    }

}

.box .proyecto-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 5%;
    bottom: 25%;
    font-weight: 400;
    color: #736E6B;
    background-color: #FFF5EE;
    padding: 4px;
    border-radius: 0 15px;
}

.box .descripcion {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    right: 0.625em;
    bottom: 0.625em;
    color: #FFF5EE;
}

.captura {
    background: #c5bcb7;
    box-sizing: border-box;
    width: 10rem;
    height: 8rem;
    justify-content: center;
    align-content: center; 
    overflow: hidden;
    
}
.box:hover{
    filter: none;
}

/* Tabletas */
@media (max-width: 768px) {
    .captura {
        height: 12rem;
        width: 18rem;
        overflow: hidden;
    }

}


.img-proyect {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

/*         --------- ESTILOS DEL FORMULARIO -------          */
#contacto {
    background-color: #FFF5EE;
    flex-direction: column;
    align-content: space-evenly;
}

#contacto h2 {
    font-size: 40px;
    color: #85B172;
    font-weight: 800;
}

form {
    background: #85B172;
    display: flex;
    flex-direction: column;
    max-height: 80%;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    justify-content: space-around;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input_grupo{
    flex-basis: 48%;
}

.input_grupo {
    margin: 10px 0;
    position: relative;
}

input, textarea{
    width: 100%;
    margin: 5px 0;
    border: 0;
    padding: 10px;
    outline: none;
    background: #FFF5EE;
    font-size: 14px;
    border-radius: 10px;
}

textarea {
    resize: none;
    
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: text;
    font-family: 'Kurale', serif;
    font-size: 16px;
    color: #736E6B;
    transition: 0.2s;
}

input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
    top: -30px;
    font-size: 14px;
    color: #FFF5EE;
}

form #button{
    padding: 2%;
    background: #736E6B;
    color: #FFF5EE;
    font-size: 1rem;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    width: 30%;
    margin: auto;
    

}

/*  --- Boton arriba  ---   */

#button-up {
    width: 40px;
    height: 40px;
    background: #736E6B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF5EE;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 61px;
    right: 10px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/*     ------ ESTILOS DE FOOTER --------     */

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    padding: 5px;
    color: #FFF5EE;
    align-items: center;
    justify-content: space-between;
}

.autor {
    flex-direction: column;
}
